name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install && node ./node_modules/electron/install.js

      - name: Build Vite
        run: pnpm run build

      - name: Install Playwright browsers
        run: sudo apt-get --yes remove --purge man-db && npx playwright install --with-deps chrome

      - name: LS
        run: ls ./node_modules/electron/

      - name: LS
        run: ls ./node_modules/electron/dist/

      - name: LS
        run: ./node_modules/electron/dist/electron --version

      - name: Run Playwright tests
        run: npx playwright test
