name: Package app and run Playwright

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install && node ./node_modules/electron/install.js

      - name: Build Vite
        run: pnpm run build

      - name: Package
        run: pnpm -F @monorepo-nodemon/desktop-electron run package-mac

      - name: Run Playwright tests
        run: npx playwright test packaged.test.ts
