name: Playwright tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install && node ./node_modules/electron/install.js

      - name: Build Vite
        run: pnpm run build

      - name: Install Playwright
        run: npx playwright install

      - name: Run Playwright tests
        run: npx playwright test
